.DS_Store
.idea

*.xml

*.pyc

*.pyc

__pycache__/event.cpython-35.pyc

*.com
*.class
*.dll
*.exe
*.o
*.so


*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.aux
*.log
*.sql
*.sqlite
*.app
*.workflow
